@model int
@inject AdminAreaSettings adminAreaSettings
@{
    Layout = "_AdminPopupLayout";

    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
    var gridPageSizes = adminAreaSettings.GridPageSizes;

    var productId = Model;

    if (ViewBag.RefreshPage == true)
    {
        <script type="text/javascript">
            try
            {
                var gridElement = window.opener.document.getElementById("@ViewBag.btnId");
                $(gridElement).click();
            }
            catch (e){}
            window.close();
        </script>

        return;
    }
}

<form method="post">

    <section class="content">
        <div class="content-header clearfix">
            <h1 class="float-left">
                @T("SevenSpikes.Plugins.NopAttachments.Admin.NopProductsTabTitle.AddExistingAttachment")
            </h1>
        </div>
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default card-popup">
                    <div class="card-body">
                        @{ 
                            await Html.RenderPartialAsync("Table", new DataTablesModel
                            {
                                Name = "fileattachments-grid",
                                UrlRead = new DataUrl("Popup_AddExistingAttachments_List", "NopProductAdmin", new RouteValueDictionary { ["productId"] = productId }),
                                Length = defaultGridPageSize,
                                LengthMenu = gridPageSizes,
                                ColumnCollection = new List<ColumnProperty>
                                {
                                    new ColumnProperty(nameof(AttachmentModel.Id))
                                    {
                                        Title = T("Admin.Common.Check").Text,
                                        Width = "50",
                                        Render = new RenderCustom("renderSelectedCheckBox")
                                    },
                                    new ColumnProperty(nameof(AttachmentModel.Name))
                                    {
                                        Title = T("SevenSpikes.Plugins.NopAttachments.Admin.Entities.ProductAttachment.AttachmentName").Text
                                    }
                                }
                            });
                        }
                        <button type="submit" name="save" value="save" class="btn bg-primary">
                            <i class="far fa-save"></i>
                            @T("Admin.Common.Save")
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript">

        function renderSelectedCheckBox(data, type, row, meta) {

            var checked = row.CustomProperties.Selected == 'True' ? 'checked' : '';

			return '<input type="checkbox" id="SelectedAttachmentsIds" name="SelectedAttachmentsIds" value="' + row.Id + '" class="checkboxGroups" ' + checked + '>';
        }
    </script>
</form>