@model bool
@inject AdminAreaSettings adminAreaSettings
@{
    Layout = AdminViewLocations.AdminLayoutViewPath;

    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
    var gridPageSizes = adminAreaSettings.GridPageSizes;

    NopHtml.SetActiveMenuItemSystemName("SevenSpikes.Plugins.NopAttachments.Admin.Submenus.ManageAttachments");
}

<div class="content-header clearfix">
    <h1 class="float-left">
        @T("SevenSpikes.Plugins.NopAttachments.Admin.Entities.Attachment")
    </h1>
    <div class="float-right">
        <a href="Create" class="btn bg-primary">
            <i class="fa fa-plus-square"></i>
            @T("SevenSpikes.Plugins.NopAttachments.Admin.Entities.Attachment.AddNew")
        </a>
    </div>
</div>

<nop-antiforgery-token />

<section class="content">
    <div class="form-horizontal">
        @await Html.TrialMessageAsync(Model, Plugin.Name, Plugin.UrlInStore)
        <div class="cards-group">
            <div class="card card-default">
                <div class="card-body">
                    @{ 
                        await Html.RenderPartialAsync("Table", new DataTablesModel
                        {
                            Name = "attachments-grid",
                            UrlRead = new DataUrl("List", "AttachmentAdmin", null),
                            UrlDelete = new DataUrl("DeleteAttachment", "AttachmentAdmin", null),
                            Length = defaultGridPageSize,
                            LengthMenu = gridPageSizes,
                            ColumnCollection = new List<ColumnProperty>
                            {
                                new ColumnProperty(nameof(AttachmentModel.Name))
                                {
                                    Title = T("SevenSpikes.Plugins.NopAttachments.Admin.Entities.Attachment.Name").Text,
                                    Width = "300"
                                },
                                new ColumnProperty(nameof(AttachmentModel.ShortDescription))
                                {
                                    Title = T("SevenSpikes.Plugins.NopAttachments.Admin.Entities.Attachment.ShortDescription").Text,
                                    Width = "300"
                                },
                                new ColumnProperty(nameof(AttachmentModel.DisplayOrder))
                                {
                                    Title = T("SevenSpikes.Plugins.NopAttachments.Admin.Entities.Attachment.DisplayOrder").Text,
                                    Width = "300",
                                },
                                new ColumnProperty(nameof(AttachmentModel.Visible))
                                {
                                    Title = T("SevenSpikes.Plugins.NopAttachments.Admin.Entities.Attachment.Visible").Text,
                                    Render = new RenderCustom("renderIsActive"),
                                    Width = "50"
                                },
                                new ColumnProperty(nameof(AttachmentModel.Id))
                                { 
                                    Render = new RenderCustom("renderEditButton"),
                                    Width = "100"
                                },
							    new ColumnProperty(nameof(AttachmentModel.Id))
							    {
								    Render = new RenderButtonRemove(T("Admin.Common.Delete").Text),
                                    Width = "100"
							    }
                            }
                        }); 
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function renderIsActive(data, type, row, meta) {

        if (row.Visible) {

            return '<i class="fa fa-check true-icon"></i>';
        }
        else {

            return '<i class="fa fa-times false-icon"></i>';
        }
    }

    function renderEditButton(data, type, row, meta) {

        return '<a class="btn btn-default" href="Edit/' + data + '" title="@T("Admin.Common.Edit")">' +
            '<i class="fas fa-pencil-alt"></i>' +
            '@T("Admin.Common.Edit")' +
            '</a>';
    }
</script>