/*Modular products*/
.product-modular-page .overview {
    float: right;
    margin: 5px 5px 10px;
    padding: 10px;
}

.product-modular-page .full-description {
    border: medium none;
}
.product-modular-page  .overview-buttons > * {
    margin-right: 0;
}

.product-modular-list .variant-picture{float:left;width:20%;text-align:center;}
.product-modular-info {margin-left:21%;}
.product-modular-info:after{display:block;clear:both;content:"";}
.product-modular-list .sku{}
.product-modular-list .sku span{display:inline; border:none;}
.product-modular-list .qty-input.ui-spinner-input 
{
    padding:6px;
    width:90px;
    font-size:13px;
    background:url("images/updown.png") no-repeat scroll 100% 50%;
    margin: 0;
    text-align: left;
}
.product-modular-list table {
    width: 100%;
}
    
.product-modular-line  {
    /*border: 1px solid #CCCCCC;
    border-radius: 5px;*/
    border-top: 1px dashed #bbb;
    margin-bottom: 5px;
    padding: 10px 10px;
    text-align: left;
}
.product-modular-line .variant-list {
    margin-bottom: 0px;
}
.product-modular-line .variant-overview {
    float: none;
    width: 100%;
}
.product-modular-line .order-line {
    background: none repeat scroll 0 0 #f6f6f6;
    /*border-radius: 5px;*/
    padding: 7px;
    overflow: hidden;
}
.product-modular-line .order-line .prices {
    line-height: 30px;
    overflow: hidden;
    width: 70px;
    padding-left: 5px;
}
.product-modular-line .order-line > * {
    float: left;
}
.product-modular-line .product-price {
    /*font-size:14px;*/
}
.product-modular-line .product-price span {
    color: #b80709 !important;
    font-size: 14px !important;
}
.product-modular-line .add-to-cart {
    float: right;
}
.product-modular-line .add-to-cart .qty-label {
    margin-top: -6px;
}

.ui-icon.ui-icon-triangle-1-n{padding:3px;}
.ui-spinner.ui-widget.ui-widget-content.ui-corner-all{position:relative;display:inline-block;}
.ui-spinner-button.ui-spinner-up{position:absolute;right:34px;top:0;opacity:0;height: 100%;width:32px;/*filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);*/}
.ui-spinner-button.ui-spinner-down{position:absolute;right:1px;top:0;opacity:0;height: 100%;width:32px;}
.ui-icon.ui-icon-triangle-1-n, .ui-icon.ui-icon-triangle-1-s{
	padding:0px 0px;
	display:block;
	opacity:0;
	background:#fff;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	*visibility:hidden;
}
::-ms-clear {display: none;}
.add-to-cart-modularproduct{text-align:right;border:1px solid #ccc;padding:15px 10px 10px; margin-bottom:5px;}
.button-1.add-to-cart-button
{
    background-color: #4ab2f1;
    border: medium none;
    color: #fff;
    font-size: 15px;
    height: 43px;
    padding: 0 24px;
    text-transform: uppercase;
}
.button-1.add-to-cart-button.grey{
    background-color: #eaeaea;
}

.product-modular-line .variant-description {
    clear:none;
}
.prices-modularproducts{float:left;padding:15px;}

.product-modular-line .attributes {
    margin-bottom: 10px;
}
.product-modular-line .attributes dl dt {
    margin: 10px 0 0;
}
.product-modular-line .attributes .text-prompt {
    font-weight: bold;
}
.product-modular-line .attributes .attribute-description {
    font-size: 11px;
}
.product-modular-line .attributes ul.option-list {
    margin: 0;
    padding: 0;
}
.product-modular-line .attributes ul.option-list li {
    list-style: none outside none;
}
.product-modular-line .attributes .textbox {
    width: 300px;
}
.product-modular-line .attributes textarea {
    height: 150px;
    width: 300px;
}
.product-modular-line .attributes ul.color-squares li {
    display: inline;
}
.product-modular-line .attributes ul.color-squares .color-container {
    border: 1px solid #999;
    display: inline-block;
    margin-bottom: 5px;
    padding: 1px;
    position: relative;
}
.product-modular-line .attributes ul.color-squares .selected-value .color-container {
    border-color: #075899;
    border-width: 2px;
    padding: 0;
}
.product-modular-line .attributes ul.color-squares .color {
    display: inline-block;
    height: 18px;
    width: 18px;
}
.product-modular-line .attributes ul.color-squares label {
    cursor: pointer;
    position: relative;
}
.product-modular-line .attributes ul.color-squares input {
    float: none;
    height: 0;
    overflow: hidden;
    position: absolute;
    z-index: -10000;
}