@model MenuModel

@using Nop.Core.Domain.Menus;
@using Nop.Web.Models.Menus

@{
    var isRtl = await Html.ShouldUseRtlThemeAsync();
}

<input type="hidden" value="@isRtl.ToString().ToLowerInvariant()" id="isRtlEnabled" />

<ul class="top-menu">    
    @if (Model.Items != null && Model.Items.Any())
    {
        @foreach (var menuItem in Model.Items)
        {
            @if (menuItem.ChildrenItems != null && menuItem.ChildrenItems.Any())
            {
                @switch (menuItem.Template)
                {
                    case MenuItemTemplate.Grid:
                        @await Html.PartialAsync("_MenuItem.Grid.cshtml", menuItem)
                        break;
                    default:
                        @await Html.PartialAsync("_MenuItem.List.cshtml", menuItem)
                        break;
                }
            }
            else
            {
                <li>
                    @if (!string.IsNullOrEmpty(menuItem.Url))
                    {
                        <a href="@menuItem.Url">@menuItem.Title</a>
                    }
                    else
                    {
                        <a>@menuItem.Title</a>
                    }
                </li>
            }
        }
    }    
</ul>

