@model List<MenuModel>

@* <nav class="footer-navigation"> *@
    @foreach (var menu in Model)
    {
        <div class="footer-block @menu.CssClass" role="none">
            <div id="footer-menu-@menu.Id" class="title footer-menu__toggle" aria-haspopup="menu" aria-expanded="false">
                @menu.Name
            </div>

            <ul class="list footer-menu__list" role="menu" aria-labelledby="footer-menu-@menu.Id">
                @foreach (var menuItem in menu.Items)
                {
                    @await Html.PartialAsync("_FooterItem.cshtml", menuItem)
                }
            </ul>
        </div>
    }
@* </nav> *@

@* <script src="~/js/public.menu.js" asp-location="Footer"></script>
<script asp-location="Footer">
    mainMenu.init('.footer-navigation .footer-menu__toggle', 'footer-menu--active');
</script> *@
